<form name="input" action="/throw" method="post">
	<center>
		<h1>Choose one option:</h1> <br>
		<img src="/img/piedra.jpg"  WIDTH=80 HEIGHT=180 alt="piedra" />
		<input type="radio" name="eleccion" value="rock"/>
		<img src="/img/papel.jpg"  WIDTH=80 HEIGHT=180 alt="piedra" />
		<input type="radio" name="eleccion" value="paper"/>
		<img src="/img/tijera.jpg"  WIDTH=80 HEIGHT=180 alt="piedra" />
		<input type="radio" name="eleccion" value="scissors"/>
		<br><br>
		<input type="submit" value="PLAY"/>
	</center>
</form>